### Recommended by Project Creator Andy Bell ###

# Misc
## DO NOT REMOVE: This site uses your IP address to help determine how it should format dates. This data is stored in the .cache folder
*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache

# Node modules and output
node_modules
dist
#src/_includes/css - Unsure why this is, commenting out for now
