<!DOCTYPE html>
<html lang="en">
{% set locale = language %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.siteInfo.url }}/feed.xml" />
  </head>
  <body>
    {% include "partials/site-head.html" %}
    <main tabindex="-1" id="main-content">{% block content %}{% endblock %}</main>
  </body>
  <footer>
  <p><em>{{ site.siteInfo.published }}{{ site.publishedDate() | dateFilter(locale) }}</em></p>
  <p><em>{{ site.siteInfo.updated }}{{ currentDate() | dateFilter(locale) }}</em></p>
  </footer>
</html>
